<!DOCTYPE html>

<head>
    <script src="https://cdn.skypack.dev/@hotwired/turbo" defer></script>
    <script src="https://unpkg.com/htmx.org@1.4.1" defer></script>
    <script src="https://unpkg.com/@popperjs/core@2" defer></script>
    <script src="https://unpkg.com/tippy.js@6" defer></script>
    <script src="//unpkg.com/alpinejs" defer></script>

    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <title>RemoteSetups.work</title>
    <nav class="navBar">
        <h1>RemoteSetups.work - discover your next remote work setup</h1>
        <button>
            <a href="/login">Login</a>
        </button>
        <button>
            <a href="/register">Register</a>
        </button>
    </nav>
    <section>
    {%block content%}
    {% endblock %}
    </section>
</body>