:root {
    --black: #000000ff;
    --onyx: #363946ff;
    --dim-gray: #696773ff;
    --morning-blue: #819595ff;
    --ash-gray: #b1b6a6ff;
}

.navBar {
    background-color: var(--ash-gray);
    display: flex;
}

#editor-container {
    height: 200px
}

.index {
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr;
}

.postsSnippet {
    display: flex;
    flex-direction: column;
}

.postSnippetSingle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;

}