<!DOCTYPE html5>
{% extends 'base.html' %}
{% block content %}
<head> 
    

</head>

    <article>
        <form action="/{{formAction}}", method="POST"> 
            <input id="editor", value="{{ content }}", type="hidden", name="content">
            <trix-editor input="editor"></trix-editor>
            <label for='tags'>Tags</label>
            <input type='text' name='tags'>
            <input type="Submit", value="Create">
        </form>
    </article>

    <script>
        // upload to object storage
        addEventListener('trix-attachment-add', (event) => {
            if (event.attachment.file) {
                const url = window.location.origin 

                const file = event.attachment.file 
                const filename = new Date().getTime() + '-' + file.name
                const filetype = file.type 

                let form = new FormData()
                form.append('file', file)
                form.append('filename', filename)

                fetch(url+'/items/attachment', {
                    method: "POST",
                    credentials: 'same-origin',
                    body: form
                })
                .then(res => res.json())
                .then(data => {
                    const objectStorageUrl = data.url 
                    event.attachment.setAttributes({'url': objectStorageUrl, href: objectStorageUrl + '?content-disposition=attachment'})
                })
                .catch(err => { console.log(err)} )

            }
        })

    </script>
{% endblock %}