{% extends 'base.html' %}
{% block content %}
<article>

    {{ content  | safe }}

    <div>Tags:
    {% for tag in tags %}
    <a href>{{ tag }}</a>
    {% endfor %}
    </div>

    <div>
        Updates: {{ numUpdates }}
        <button><a href="/items/{{ itemId}}/updates" data-turbo-action="replace">View Updates</a></button>
    </div>

    {% if author %}
       <button><a href="/items/{{itemId}}/update" data-turbo-action="replace">Update Post</a></button>
    {% endif %} 
</article>
{% endblock %}