{% extends 'base.html' %}
{% block content %}
<article>

    {{ content  | safe }}

    <div>Tags:
    {% for tag in tags %}
    <a href>{{ tag }}</a>
    {% endfor %}
    </div>

    <div>
        Updates: {{ numUpdates }}
        <button><a href="/items/{{ itemId}}/updates" data-turbo-action="replace">View Updates</a></button>
    </div>

    {% if author %}
       <button><a href="/items/{{itemId}}/update" data-turbo-action="replace">Update Post</a></button>
    {% endif %} 

    <div id="collections" ></div>
    <button id='collectionBtn' hx-get="/collections" hx-trigger="click" hx-target="#collections">Add To Collection</button>
</article>

<script type="module">

    const collections = document.getElementById('collections')
    collections.style.display = 'block'
    tippy('#collectionBtn', {
        content: collections, 
        trigger: 'click',
        interactive: true, 
        allowHTML: true,
        theme: 'light',
        placement: 'auto-start'
    })
</script>

{% endblock %}